/* COMMON STYLES */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


/* HEADER CONTAINER */

.header-container {

    background: rgba(224, 115, 138, 0.15);
    display: flex;
    align-items: center;
    padding-right: 240px;
    padding-left: 240px;
    gap: 100px;
}

.header-info {

    align-items: center;
}

.header-image {
    width: 635px;
    height: 800px;
    margin-top: 50px;
}

.header-title {
    display: flex;
    width: 700px;
    flex-direction: column;
    color: #272727;
    font-size: 80px;
}

.header-description {
    display: flex;
    width: 635px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding: 30px 0px;
}

.button {
    padding: 20px 45px;
    border: 0;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-size: 20px;
}

/* FEATURES CONTAINER */

.features-container {

    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 180px;

}

.features-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
}

.features-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    padding-top: 25px;
    margin-bottom: 50px;
}

.features-flowers {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.flower-box {}

.feature-flower {

    width: 460px;
    height: 540px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower-name {
    margin-top: 30px;
    color: #272727;
    font-size: 25px;
    text-decoration-line: underline;
}

/* SERVICE CONTAINER */

.service-container {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 130px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.163);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.services {
    margin-top: 25px;
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
}

/* DEAL CONTAINER */

.deal-container {
    margin-top: 130px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.138);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 190px;
}

.red {
    color: rgba(229, 84, 115, 1);

}

.deal-info {
    text-align: center;
}

.deal-title {
    color: #272727;
    font-size: 40px;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 35px;

}

/* INSTAGRAM CONTAINER */

.instagram-container {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 130px;

}

.instagram-images {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.instagram-title {
    color: #272727;
    font-size: 40px;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 50px;

}

/* SUBSCRIBE CONTAINER */

.subscribe-container {
    border-radius: 8px;
    width: 80%;
    margin: auto;
    margin-top: 130px;
    background-image: url("/flower-asset/rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.subscribe-title {
    text-align: center;
    color: #272727;
    font-size: 40px;
    margin-bottom: 20px;
}

.subscribe-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;

}

.subscribe-input {
    border: none;
    width: 700px;
    height: 65px;
    border-radius: 8px;
    background: white;
    margin-right: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    padding-left: 22px;
}

.subscribe-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}